language: python
dist: xenial

matrix:
  include:
    - os: linux
      python: 3.6
      env: PYTHON=3.6
    - os: osx
      osx_image: xcode9.4
      language: generic
      env: PYTHON=3.6 PYTHONWARNINGS=ignore OS=MAC
    - os: linux
      python: 3.7
      env: PYTHON=3.7
    - os: osx
      osx_image: xcode10.2
      language: generic
      env: PYTHON=3.7 PYTHONWARNINGS=ignore OS=MAC
    - os: linux
      env: LINT=1 PYTHONWARNINGS=ignore
      # before_install:
      #   - sudo apt-get update -qq
      install:
        - pip install yapf==0.23.0 flake8==3.7.7 flake8-comprehensions flake8-quotes==2.0.0
      script:
        - bash ./tests/format.sh

notifications:
  email: false

install:
  - pip3 install -U pip
  - pip3 install -r requirements.txt
  - pip3 install -U ray
  - pip3 install --upgrade keras
  - pip3 install -U scikit-learn
  # Nightly wheel installation
  # - pip3 install --pre --extra-index https://pypi.anaconda.org/scipy-wheels-nightly/simple -U scikit-learn

script:
  - if [ "$OS" == "MAC" ]; then brew install libomp; fi
  - python3 setup.py install
  - cd tests
  - python3 -m unittest test_randomizedsearch.py
  - python3 -m unittest test_gridsearch.py
  - cd ~/ && git clone https://github.com/ray-project/ray && python3 ray/doc/source/tune/_tutorials/tune-sklearn.py
  - cd ../examples
  - for f in *.py; do python3 "$f"; done

cache:
  directories:
    - $HOME/tune-sklearn-cache
