language: python
dist: xenial

matrix:
  include:
    - os: linux
      python: 3.6
      env: PYTHON=3.6
    - os: osx
      osx_image: xcode9.4
      language: generic
      env: PYTHON=3.6 PYTHONWARNINGS=ignore
    - os: linux
      python: 3.7
      env: PYTHON=3.7
    - os: osx
      osx_image: xcode10.2
      language: generic
      env: PYTHON=3.7 PYTHONWARNINGS=ignore
    - os: linux
      env: LINT=1 PYTHONWARNINGS=ignore
      # before_install:
      #   - sudo apt-get update -qq
      install:
        - pip install yapf==0.23.0 flake8==3.7.7 flake8-comprehensions flake8-quotes==2.0.0
      script:
        - bash ./tests/format.sh

notifications:
  email: false

install:
  - pip3 install -U pip
  - pip3 install -r requirements.txt

script:
  - python3 setup.py install
  - cd tests
  - python3 -m unittest test_randomizedsearch.py
  - python3 -m unittest test_gridsearch.py
  - cd ../examples
  - python3 random_forest.py
  - python3 sgd.py
  - python3 torch_nn.py
  - python3 lgbm.py
  - python3 xgbclassifier.py
  - python3 keras_example.py

cache:
  directories:
    - $HOME/tune-sklearn-cache
