language: python
dist: xenial

matrix:
  include:
    - os: linux
      python: 3.6
      env: PYTHON=3.6 OS=LINUX
      before_script: pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl
    - os: osx
      osx_image: xcode9.4
      language: generic
      env: PYTHON=3.6 PYTHONWARNINGS=ignore OS=MAC
    - os: linux
      python: 3.7
      env: PYTHON=3.7 OS=LINUX
      before_script: pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp37-cp37m-manylinux1_x86_64.whl
    - os: osx
      osx_image: xcode10.2
      language: generic
      env: PYTHON=3.7 PYTHONWARNINGS=ignore OS=MAC
    - os: linux
      env: LINT=1 PYTHONWARNINGS=ignore
      # before_install:
      #   - sudo apt-get update -qq
      install:
        - pip install yapf==0.23.0 flake8==3.7.7 flake8-comprehensions flake8-quotes==2.0.0
      script:
        - bash ./tests/format.sh

notifications:
  email: false

install:
  - pip3 install -U -q pip
  - pip3 install -q -r requirements.txt
  - pip3 install --upgrade -q keras
  - pip3 install -U -q scikit-learn pytest
  # Nightly wheel installation
  # - pip3 install --pre --extra-index https://pypi.anaconda.org/scipy-wheels-nightly/simple -U scikit-learn

script:
  - if [ "$OS" == "MAC" ]; then brew install libomp; fi
  - python3 setup.py -q install
  - cd tests
  - python3 -m unittest test_randomizedsearch.py
  - pytest -v --durations=0 -x test_gridsearch.py
  - cd ../examples
  - for f in *.py; do python3 "$f"; done
  - if [ "$OS" == "LINUX" ]; then cd ~/ && git clone https://github.com/ray-project/ray && python ray/python/ray/setup-dev.py --yes && python3 ray/doc/source/tune/_tutorials/tune-sklearn.py; fi

cache:
  directories:
    - $HOME/tune-sklearn-cache
