language: python
dist: xenial

matrix:
  include:
    - os: linux
      python: 3.6
      env: PYTHON=3.6 OS=LINUX SKLEARN_N_JOBS=1 RAY_MASTER=1
      before_script: pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-1.1.0.dev0-cp36-cp36m-manylinux1_x86_64.whl
    - os: linux
      python: 3.7
      env: PYTHON=3.7 OS=LINUX SKLEARN_N_JOBS=1 RAY_MASTER=1
      before_script: pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-1.1.0.dev0-cp37-cp37m-manylinux1_x86_64.whl
    - os: osx
      osx_image: xcode9.4
      language: generic
      env: PYTHON=3.6 PYTHONWARNINGS=ignore OS=MAC SKLEARN_N_JOBS=1
      before_script: pip install -U ray
    - os: osx
      osx_image: xcode10.2
      language: generic
      env: PYTHON=3.7 PYTHONWARNINGS=ignore OS=MAC SKLEARN_N_JOBS=1
      before_script: pip install -U ray
    # Can't get osx wheels to work on master...
    # - os: osx
    #   osx_image: xcode9.4
    #   language: generic
    #   python: 3.6
    #   env: PYTHON=3.6 PYTHONWARNINGS=ignore OS=MAC SKLEARN_N_JOBS=1 RAY_MASTER=1
    #   before_script:
    #     - pip install -U  https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-macosx_10_13_intel.whl
    #     - pip install -U ray-0.9.0.dev0-cp36-cp36m-macosx_10_13_x86_64.whl
    # - os: osx
    #   osx_image: xcode10.2
    #   language: generic
    #   python: 3.7
    #   env: PYTHON=3.7 PYTHONWARNINGS=ignore OS=MAC SKLEARN_N_JOBS=1 RAY_MASTER=1
    #   before_script:
    #     - pip install -U  https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp37-cp37m-macosx_10_13_intel.whl
    # Quickly Check that linux-latest works.
    - os: linux
      python: 3.6
      env: PYTHON=3.6 OS=LINUX SKLEARN_N_JOBS=1 FAST=1
      before_script: pip install -U ray
      script:
        - if [ "$OS" == "MAC" ]; then brew install -q libomp > /dev/null ; fi
        - pip3 install -e .
        - cd examples
        - for f in *.py; do echo "running $f" && python3 "$f" || exit 1 ; done
    - os: linux
      python: 3.7
      env: PYTHON=3.7 OS=LINUX SKLEARN_N_JOBS=1 FAST=1
      before_script: pip install -U ray
      script:
        - if [ "$OS" == "MAC" ]; then brew install -q libomp > /dev/null ; fi
        - pip3 install -e .
        - cd examples
        - for f in *.py; do echo "running $f" && python3 "$f" || exit 1 ; done
    - os: linux
      env: LINT=1 PYTHONWARNINGS=ignore
      # before_install:
      #   - sudo apt-get update -qq
      install:
        - pip install yapf==0.23.0 flake8==3.7.7 flake8-comprehensions flake8-quotes==2.0.0
      script:
        - bash ./tests/format.sh
    - os: linux
      env: DOC_BUILD=1 PYTHONWARNINGS=ignore
      install:
        - if [ "$OS" == "MAC" ]; then brew install -q libomp > /dev/null ; fi
        - pip3 install -e .
        - git clone https://github.com/ray-project/ray
        - pip install -U -r ray/doc/requirements-rtd.txt
        - pip install -r ray/doc/requirements-doc.txt
      script:
        - cd ray/doc/ && sphinx-build -q -E -W -T -b html source _build/html

notifications:
  email: false

install:
  - pip3 install -U -q pip
  - pip3 install -U -q scikit-optimize hyperopt hpbandster ConfigSpace scipy dataclasses
  - pip3 install -q -r requirements-test.txt
  - pip3 install --upgrade -q keras
  - pip3 install -U -q scikit-learn pytest
  # Nightly wheel installation
  # - pip3 install --pre --extra-index https://pypi.anaconda.org/scipy-wheels-nightly/simple -U scikit-learn

script:
  - if [ "$OS" == "MAC" ]; then brew install -q libomp > /dev/null ; fi
  - pip3 install -e .
  - cd tests
  - pytest -v --durations=0 -x test_randomizedsearch.py
  - pytest -v --durations=0 -x test_gridsearch.py
  - pytest -v --durations=0 -x test_trainable.py
  - declare -a arr=("AsyncHyperBandScheduler" "HyperBandScheduler" "MedianStoppingRule" "ASHAScheduler"); for s in "${arr[@]}"; do python3 schedulers.py --scheduler "$s"; done
  - cd ../examples
  - for f in *.py; do echo "running $f" && python3 "$f" || exit 1 ; done
  # temporarily disable as scikit-optimize is broken
  #- if [ "$OS" == "LINUX" ]; then cd ~/ && git clone https://github.com/ray-project/ray && python ray/python/ray/setup-dev.py --yes && python3 ray/doc/#source/tune/_tutorials/tune-sklearn.py; fi

cache:
  directories:
    - $HOME/tune-sklearn-cache
