name: Development

on: [push, pull_request]

jobs:
  test_linux_ray_master:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -U pytest
        python -m pip install codecov
        python -m pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl
        python -m pip install -U -q scikit-learn scikit-optimize hyperopt hpbandster ConfigSpace scipy dataclasses optuna keras
        if [ -f requirements-test.txt ]; then python -m pip install -r requirements-test.txt; fi
    - name: Install package
      run: |
        python -m pip install -e .
    - name: Test with pytest
      run: |
        export SKLEARN_N_JOBS=1
        cd tests
        python -m pytest -v --durations=0 -x test_randomizedsearch.py
        python -m pytest -v --durations=0 -x test_gridsearch.py
        python -m pytest -v --durations=0 -x test_trainable.py
        declare -a arr=("AsyncHyperBandScheduler" "HyperBandScheduler" "MedianStoppingRule" "ASHAScheduler"); for s in "${arr[@]}"; do python schedulers.py --scheduler "$s"; done
        chmod +x ./run_examples.sh
        bash ./run_examples.sh

  test_linux_ray_release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -U pytest
        python -m pip install codecov
        python -m pip install -U ray
        python -m pip install -U -q scikit-learn scikit-optimize hyperopt hpbandster ConfigSpace scipy dataclasses optuna keras
        if [ -f requirements-test.txt ]; then python -m pip install -r requirements-test.txt; fi
    - name: Install package
      run: |
        python -m pip install -e .
    - name: Test with pytest
      run: |
        export SKLEARN_N_JOBS=1
        cd tests
        python -m pytest -v --durations=0 -x test_randomizedsearch.py
        python -m pytest -v --durations=0 -x test_gridsearch.py
        python -m pytest -v --durations=0 -x test_trainable.py
        declare -a arr=("AsyncHyperBandScheduler" "HyperBandScheduler" "MedianStoppingRule" "ASHAScheduler"); for s in "${arr[@]}"; do python schedulers.py --scheduler "$s"; done
        chmod +x ./run_examples.sh
        bash ./run_examples.sh

  build_docs:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Check out Ray
      uses: actions/checkout@v2
      with:
        repository: ray-project/ray
        path: ray
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --use-deprecated=legacy-resolver -U -r ray/doc/requirements-rtd.txt
        python -m pip install --use-deprecated=legacy-resolver -r ray/doc/requirements-doc.txt
    - name: Install package
      run: |
        python -m pip install -e .
    - name: Build the documentation
      run: |
        export DOC_BUILD=1 PYTHONWARNINGS=ignore
        cd ray/doc/ && sphinx-build -q -E -W -T -b html source _build/html

  test_lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        export LINT=1 PYTHONWARNINGS=ignore
        python -m pip install --upgrade pip
        python -m pip install yapf==0.23.0 flake8==3.7.7 flake8-comprehensions flake8-quotes==2.0.0
    - name: Lint codebase
      run: |
        chmod +x ./tests/format.sh
        bash ./tests/format.sh
